<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Html Page</title>
</head>
<body>

<div sec:authorize="hasAuthority('DATACAPTURE_DETAIL_EDIT')">
    数据补录编辑---有编辑权限的人看到
</div>

<div sec:authorize="hasAuthority('DATACAPTURE_DETAIL_INPUT')">
    数据补录录入---有录入的权限人可以看到
</div>

<div sec:authorize="hasAuthority('DATACAPTURE_INIT_LIST')">
    数据补录列表---有列表的权限人可以看到
</div>

<div sec:authorize="isAuthenticated()">
   授权(登陆)用户可以看到
</div>

</body>
</html>